<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="social-links">
            <a class="social-link social-link-tw" href="https://twitter.com/davisonio" title="Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a class="social-link" href="https://www.instagram.com/craigdavisonio/" title="Instagram" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
            <a class="social-link" href="https://davison.io/elsewhere/" title="Elsewhere" target="_blank" rel="noopener"><i class="fas fa-ellipsis-h"></i></a>
    </div>
</nav>
