.social-link {
  font-size: 25px;
}

.social-link:hover {
  text-decoration: none;
}

.site-title {
    font-size: 6.5rem;
}

@media (max-width: 700px) {
    .site-nav-right {
        display: inherit;
    }
}

/* Fix super annoying 404 header unlickable bug */
.site-header:after, .site-header:before {
    content: unset;
}
