/*        */
/* Global */
/*        */

/* Override font to use Bootstrap defaults */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Make iframes and badges the right size */
.content iframe .iframe-badge {
    display: inline-block;
    margin: initial;
}
.content img[src^="https://img.shields.io/badge/"] {
    display: block;
    margin: initial;
    width: inherit;
}

/* Not too much spacing */
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Helper */
.center {
  text-align: center;
}

/* Mobile device changes */
.page-title {
  margin-top: 4rem;
}

/* Footer */
.footer {
    /* Remove edgy lowercasing */
    text-transform: none;
    padding-bottom: 5vmin;
}
.footer ul {
    font-weight: bold;
    margin-bottom: 40px;
}
.text-footer {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}
.footer .social-heaven {
    margin-top: 0;
}

/* Main Content Block */
.content {
    margin-bottom: 4vw;
}

.page-content {
    margin-top: 4vw;
}

.content header {
    margin-bottom: 0;
    padding-bottom: 10vw;
}

.content h1 {
    margin-top: 4vmin;
}

.content .sub-title {
    margin-top: 2vmin;
}

/*            */
/* Page: Home */
/*            */

/* Social Heaven */
.social-heaven {
      margin-top: 8vmin;
      margin-left: -0.5rem;
}

.social-heaven .fa-end {
    margin-left: 0;
    margin-right: 0;
}

.social-heaven .fa {
  /* Just the right amount of spacing for multiple icons! */
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;

  color: #555;
}

/* Colours are from the main colour of the site's logo */
.fa-medium:hover {
  color: #0BE370;
}

.fa-github:hover {
  color: #333333;
}

.fa-circle:hover {
  color: black;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-snapchat-ghost:hover {
  color: #fffc00;
}

.fa-instagram:hover {
  color: #EF0069;
}

.fa-facebook:hover {
    color: #3C539A;
}

.fa-ellipsis-h:hover {
  color: #268bd2;
}

/*             */
/* Page: About */
/*             */

img#my-profile-picture {
    width: 300px;
    height: auto;
}

img#awesome-logo {
    width: 400px;
    height: auto;
}

/*               */
/* Page: Contact */
/*               */

#contact-form {
	margin-top: 20px;
    font-size: 12px;
}

#contact-form input, #contact-form textarea {
	padding: 5px;
	width: 100%;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-form textarea {
	height: 90px;
}

#contact-form textarea:focus, #contact-form input:focus {
	border: 2px solid #268bd2;
}
