/*      */
/* Main */
/*      */

html {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #FFAB42;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #E89D3E;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.page-title {
  margin-top: 4rem;
}

/*                  */
/* Main: Navigation */
/*                  */

.top-title-button a {
  position: fixed;
  z-index: 500;
  top: 10px;
  left: 10px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  background: #29292a;
  transition: background 0.75s ease-out;

  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
}

.top-title-button a:hover {
    background: #225d85;
}

.b-menu {
  position: fixed;
  z-index: 500;
  top: 10px;
  right: 10px;
  padding-top: 12px;
  padding-left: 9px;
  background: #29292a;
  transition: background 0.75s ease-out;

  height: 48px;
  width: 48px;
  border: 2px solid transparent;
  border-radius: 0;
}

.b-menu:hover {
  background: #225d85;
  border: 2px solid transparent;
}

.b-nav {
  z-index: 400;
}

.b-nav li:first-child {
  padding-top: 20px;
}

body:after {
    background: white;
}

.b-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #515151;
}

.b-link--active,
.b-link:hover {
    border-left: #515151 solid 2px;
}

/*            */
/* Page: Home */
/*            */

span#my-profile-picture {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: auto;
  margin-top: 105px;
  background: url("/assets/img/my-profile-picture.png") no-repeat;
  background-size: 10rem 10rem;
  /* For a round profile picture: */
  /* border-radius: 100px; */
}

h1#my-name {
  margin-top: 2rem;
  font-size: 3rem;
}

p#my-description {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.social-heaven .fa {
  /* Just the right amount of spacing for multiple icons! */
  margin-left: 0.7rem;
  margin-right: 0.7rem;

  color: #555;
}

/* Colours are from the main colour of the site's logo */
.fa-twitter:hover {
  color: #55acee;
}

.fa-github:hover {
  color: #333333;
}

.fa-medium:hover {
  color: #0BE370;
}

.fa-ellipsis-h:hover {
  color: #FFAB42;
}
