/*      */
/* Main */
/*      */

html {
  font-family: "Montserrat", sans-serif;
}

.center {
  text-align: center;
}

.page-title {
  margin-top: 4rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 0;
}

/*            */
/* Page: Home */
/*            */

span#my-profile-picture {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: auto;
  margin-top: 105px;
  background: url("/assets/img/my-profile-picture.png") no-repeat;
  background-size: 10rem 10rem;
  /* For a round profile picture: */
  /* border-radius: 100px; */
}

h1#my-name {
  margin-top: 2rem;
  font-size: 3rem;
}

a#my-name {
  color: #313131;
}

p#my-description {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

/* Make description link look normal */
a#my-description, a#my-description:hover {
  color: #515151;
  text-decoration: none;
}


.social-heaven .fa {
  /* Just the right amount of spacing for multiple icons! */
  margin-left: 0.7rem;
  margin-right: 0.7rem;

  color: #555;
}

/* Colours are from the main colour of the site's logo */
.fa-phone:hover {
  color: #00FF6D;
}

.fa-envelope:hover {
  color: #2C81E8;
}

.fa-medium:hover {
  color: #0BE370;
}

.fa-github:hover {
  color: #333333;
}

.fa-circle:hover {
  color: black;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-snapchat-ghost:hover {
  color: #fffc00;
}

.fa-ellipsis-h:hover {
  color: #268bd2;
}
