/*            */
/* Navigation */
/*            */

.top-title-button a {
  position: fixed;
  z-index: 500;
  top: 10px;
  left: 10px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  background: #29292a;
  transition: background 0.75s ease-out;

  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
}

.top-title-button a:hover {
  background: #225d85;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
}

.b-menu {
  position: fixed;
  z-index: 500;
  top: 10px;
  right: 10px;
  padding-top: 12px;
  padding-left: 9px;
  background: #29292a;
  transition: background 0.75s ease-out;

  height: 48px;
  width: 48px;
  border: 2px solid transparent;
  border-radius: 0;
}

.b-menu:hover {
  background: #225d85;
  border: 2px solid transparent;
}

.b-nav {
  z-index: 400;
}

div.b-nav {

    top: 100px;
  left: 30px;

}
.b-nav, body:after {
  position: fixed;
}

.b-nav li:first-child {
  padding-top: 20px;
}

body:after {
  background: white;
}

.b-link {
  font-family: "Montserrat", sans-serif;
  color: #515151;
}

.b-link--active,
.b-link:hover {
  border-left: #515151 solid 2px;
}
