<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="floating-title">
      <a href="https://davison.io">
        <span>@davisonio</span>
      </a>
    </header>

    <div class="b-nav">
      <li><a class="b-link {% if page.title == 'Home' %}b-link--active{% endif %}" href="{{ site.baseurl }}/">Home</a></li>
      <li><a class="b-link" href="https://blog.davison.io">Blog</a></li>
      <li><a class="b-link {% if page.title == 'Projects' %}b-link--active{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a></li>
      <li><a class="b-link {% if page.title == 'Hello' %}b-link--active{% endif %}" href="{{ site.baseurl }}/hello/">Hello</a></li>
    </div>

    <div class="b-container">
      <div class="b-menu">
        <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div>
        <div class="b-bun b-bun--bottom"></div>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>
  </body>

  {% include footer.html %}
</html>
