<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        {% if page.title == "Home" %}
          {{ site.title }}
        {% else %}
          {{ page.title }} · {{ site.title }}
        {% endif %}
      </title>
      <meta name="description" content="{% if page.description %}{{ page.description }} - {% endif %}{{ site.description }}">
      <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | remove: 'index.html'}}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
      <link rel="stylesheet" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/v4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/IanLunn/Hover/2.0.2/css/hover-min.css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/mblode/burger/v2.0.2/dist/css/burger.min.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/navigation.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    </head>

  <body>
    <span class="top-title-button">
      <a href="{{ site.baseurl }}/">{{ site.at }}</a>
    </span>

    <div class="b-nav">
      <ul>
          <li><a class="b-link {% if page.title == 'Home' %}b-link--active{% endif %}" href="{{ site.baseurl }}/">Home</a></li>
          <li><a class="b-link" href="https://blog.davison.io">Blog</a></li>
          <li><a class="b-link {% if page.title == 'Projects' %}b-link--active{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a></li>
          <li><a class="b-link {% if page.permalink == '/now/' %}b-link--active{% endif %}" href="{{ site.baseurl }}/now/">Now</a></li>
          <li><a class="b-link {% if page.title == 'About Me' %}b-link--active{% endif %}" href="{{ site.baseurl }}/about/">About</a></li>
          <li><a class="b-link {% if page.title == 'Contact Me' %}b-link--active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </div>

    <div class="b-container">
      <div class="b-menu">
        <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div>
        <div class="b-bun b-bun--bottom"></div>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>
  </body>

  <script src="https://cdn.rawgit.com/mblode/burger/v2.0.2/dist/scripts/burger.min.js"></script>
  <script src="{{ site.baseurl}}/assets/js/google-analytics.js"></script>

  <!--
       Copyright © 2015+ Craig Davison
       License: https://github.com/davisonio/davison.io/blob/master/README.md#license--credits
  -->
</html>
