<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        {% if page.title == "Home" %}
          {{ site.title }}
        {% else %}
          {{ page.title }} · {{ site.title }}
        {% endif %}
      </title>
      <meta name="description" content="{% if page.description %}{{ page.description }} - {% endif %}{{ site.description }}">
      <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | remove: 'index.html'}}">
      <link rel="stylesheet" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/v4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/IanLunn/Hover/2.0.2/css/hover-min.css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/mblode/burger/v2.0.2/dist/css/burger.min.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/amsf.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/navigation.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    </head>

  <body>
    <span class="top-title-button">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </span>

    <div class="b-nav">
      <ul>
          <li><a class="b-link {% if page.title == 'Home' %}b-link--active{% endif %}" href="{{ site.baseurl }}/">Home</a></li>
          <li><a class="b-link {% if page.title == 'Projects' %}b-link--active{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a></li>
          <li><a class="b-link {% if page.title == 'About Me' %}b-link--active{% endif %}" href="{{ site.baseurl }}/about/">About</a></li>
          <li><a class="b-link {% if page.title == 'Contact Me' %}b-link--active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </div>

    <div class="b-container">
      <div class="b-menu">
        <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div>
        <div class="b-bun b-bun--bottom"></div>
      </div>
    </div>

    <div class="content">
        {{ content }}
    </div>

    <footer class="footer">
        <ul>
            <li><a href="{{ site.baseurl }}/" title='Home'>Home</a></li>
            <li><a href="{{ site.baseurl }}/projects/" title="Projects">Projects</a></li>
            <li><a href="{{ site.baseurl }}/about/" title="About">About</a></li>
            <li><a href="{{ site.baseurl }}/contact/" title="Contact">Contact</a></li>
        </ul>
        <p class='text-footer'>Subscribe to my newsletter:</p>
        <form action="//davison.us13.list-manage.com/subscribe/post?u=cc74974f892859e1b448d4a6a&amp;id=5854e5d70e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	                  <input type="email" value="" placeholder='Your email' name="EMAIL" class="required email" id="mce-EMAIL">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
        <p class='text-footer'>Follow me elsewhere:</p>
        <div class="social-heaven">
            <a class="hvr-pop" href="https://medium.com/@davisonio">
                <i title="Medium" class="fa fa-medium fa-2x"></i>
            </a>
            <a class="hvr-pop" href="https://github.com/davisonio">
                <i title="GitHub" class="fa fa-github fa-2x"></i>
            </a>
            <a class="hvr-pop" href="https://ello.co/davisonio">
                <i title="Ello" class="fa fa-circle fa-2x"></i>
            </a>
            <a class="hvr-pop" href="https://twitter.com/davisonio">
                <i title="Twitter" class="fa fa-twitter fa-2x"></i>
            </a>
            <a class="hvr-pop" href="https://www.snapchat.com/add/davisonio">
                <i title="Snapchat" class="fa fa-snapchat-ghost fa-2x"></i>
            </a>
            <a class="hvr-pop" href="https://www.instagram.com/craigdavisonio/">
                <i title="Instagram" class="fa fa-instagram fa-2x"></i>
            </a>
            <a class="hvr-pop" href="https://www.facebook.com/craigdavisonio">
                <i title="Facebook" class="fa fa-facebook fa-2x"></i>
            </a>
            <a class="hvr-pop" href="{{ site.baseurl }}/elsewhere/">
                <i title="Elsewhere" class="fa fa-ellipsis-h fa-2x"></i>
            </a>
        </div>
    </footer>

    <script src="https://cdn.rawgit.com/mblode/burger/v2.0.2/dist/scripts/burger.min.js"></script>
    <script src="{{ site.baseurl}}/assets/js/google-analytics.js"></script>
  </body>

  <!--
       Copyright © 2015+ Craig Davison
       License: https://github.com/davisonio/davison.io/blob/master/README.md#license--credits
  -->
</html>
